<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- displays site properly based on user's device -->

  <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">
  <link rel="stylesheet" href="style.css">
  <title>Frontend Mentor | Article preview component</title>

  <!-- Feel free to remove these styles or customise in your own stylesheet 👍 -->
  <style>
    .attribution {
      font-size: 11px;
      text-align: center;
    }

    .attribution a {
      color: hsl(228, 45%, 44%);
    }
  </style>
</head>

<body>
  <div class="container">
    <div class="card">
      <div class="left">
        <img class="drawers" src="images\drawers.jpg" alt="">
      </div>
      <div class="right">
        <h3>
          Shift the overall look and feel by adding these wonderful
          touches to furniture in your home
        </h3>

        <p>
          Ever been in a room and felt like something was missing? Perhaps
          it felt slightly bare and uninviting. I’ve got some simple tips
          to help you make any room feel complete.
        </p>

        <div class="lower">
          <img 
            class="profile"
            src="images/avatar-michelle.jpg" 
            alt=""
          >
           <div class="name">
            Michelle Appleton
           </div> 
            
          <div class="date">
            28 Jun 2020
          </div>
           

          <div class="share">
            Share
          </div>
        </div>

      </div>

    </div>
  </div>
</body>

</html>