body {
    background-color: hsl(212, 45%, 89%);
    text-align: center;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.card {
    max-width: 250px;
    margin: auto;
    background-color: white;
    padding: 15px;
    border-radius: 15px;
}
.qrimg {
    width:100%;
    border-radius: 10px;
}
.info {
    padding: 0 15px;
}
.info h4{
    line-height: 1.2;
    margin: 10px auto;
    color: hsl(218, 44%, 22%);
}
.info p{
    color: hsl(220, 15%, 55%);
    line-height:1.1;
}